<div class="row">
    <img src="/{{ picture.link }}" alt="{{ picture.description }}" class="col s8 offset-s2"/>
</div>
<p class="center">@{{ picture.username }}</p>
<p class="center">{{ picture.description }}</p>
{%  set tags = picture.tag|split(',') %}
<p class="center">{% for t in tags %} <a href="/search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}</p>
<hr>
{% for c in comments %}
    <div class="row card">
        <img href="{{ c.profil_picture }}" alt="photo de profile" class="circle responsive-img">
        <p>{{ c.firstname }} {{ c.lastname  }}</p>
        <p>@{{ c.username }}</p>
        <p>{{ c.comment }}</p>
    </div>
{% endfor %}