{% if erreur is defined %}
<p class="center red-text">{{ erreur }}</p>
{% endif %}

{% if succes is defined %}
    <p class="center green-text">Modification réussi</p>
{% endif %}
<div class="row" style="padding-top:5%">

        <form id="profil" method="post" action="acceptEdit" enctype="multipart/form-data">
          <div class="col s3 offset-s2">
            <label>Profil de :</label> <input type="text" name="username" value="{{ username }}" placeholder="{{ username }}"/>
            <label>Mot de passe:</label> <input type="password" name="Newpassword"/>
            <label>Nom : </label> <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ lastname }}"/>
            <label>Prenom : </label> <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ firstname }}"/>
            <label> Date de naissance : </label> <input class="datepicker" type="date" name="date_of_birth" value="{{ date_of_birth }}" placeholder="{{ date_of_birth }}"/>
            <label> Adresse : </label> <input type="text" name="address" value="{{ address }} " placeholder="{{ address }}"/>
            <label> code postal : </label> <input type="text" name="postal_code" value="{{ postal_code }} " placeholder="{{ postal_code }}"/>
            <label> Ville : </label> <input type="text" name="city" value="{{ city }} " placeholder="{{ city }}"/>
            <label> email : </label> <input type="text" name="email" value="{{ email }}" placeholder="{{ email }}"/>
            <div class="row">
                <label>Mot de  passe actuel : </label><input required="" type="password" name="password"/>
                <button class="btn waves-effect waves-light" type="submit"  >Valider les changements
                    <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
          <div class="col s6 offset-s1">
            <div id="last_profile_pic">
              <img src="{% if profil_picture == null %} image/profil.png {% else %} {{ profil_picture }} {% endif %}"/>
            </div>
            <div id="new_profile_pic" class="hiddendiv">
              <img src="">
            </div>
            <input type="file" class="" name="image" accept="image/*" value="{% if profil_picture == null %} image/profil.png {% else %}{{ profil_picture }}{% endif %}">
            {% if profil_picture != null %}<input type="text" name="image" value="{{ profil_picture }}" style="display:none;"/>{% endif %}
          </div>

        </form>


</div>
