<div class="container">
    <div class="timeline">

{% for p in pictures %}
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/{{ p.link }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator "><a  href="/profil/{{p.username }}">{{ p.firstname }} {{ p.lastname }}</a></span><i class=" right  activator material-icons" style="cursor: pointer">add</i>
                        <p style="margin-top: -15px">@{{ p.username }}</p>
                        <br>
                        <p class="truncate activator" style="cursor: pointer !important;">{{ p.description }}</p>
                        {%  set tags = p.tag|split(',') %}
                        <p>{% for t in tags %} <a href="search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}
                        </p>
                        {% if p.aime == true %}
                        <i  id='{{ p.id }}' class="material-icons right like tooltipped" data-position="left" data-delay="50" data-tooltip="Je n'aime plus" style="cursor: pointer;margin-top: 10px">thumb_down</i>
                        {%  else %}
                        <i  id='{{ p.id }}' class="material-icons right like tooltipped" data-position="left" data-delay="50" data-tooltip="J'aime" style="cursor: pointer;margin-top: 10px">thumb_up</i>
                        {%  endif %}
                        <p style="margin-top: 10px" class="left-align">{{ p.interval }}</p>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ p.firstname }} {{ p.lastname }}<i class="material-icons right">close</i></span>
                        <p style="margin-top: -10px">@{{ p.username }}</p>
                        <p>{{ p.description }}</p>
                        {%  set tags = p.tag|split(',') %}
                        <p>{% for t in tags %} <a href="search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}</p>
                    <hr>
                    <textarea id="textarea" placeholder="Ecrivez votre commentaires ici..."
                              class="materialize-textarea"></textarea>
                    <button id="comment_{{ p.id }}" class="btn waves-effect waves-light right postCommentaire"><i
                                class="material-icons right">send</i>envoyer
                    </button>
                    <a href="" data-target="modal_{{ p.id }}" class="modal-trigger">Voir tout les commentaires... </a>
                </div>

            </div>
            <div class="timeline-badge"><a href="/profil/{{ p.username }}"><img src="/{{ p.profil_picture }}" alt=""
                                                        class="circle responsive-img valign">
                </a></div>
    </div>



    {% endfor %}
</div>
</div>

{% for p in pictures %}

<!-- Modal Structure -->
<div id="modal_{{ p.id }}" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Commentaires</h4>
        <ul class="collection ">
            {% for c in p.comments %}

                <li class="collection-item avatar">
                    {% if c.id_user == user.uniqid %}
                        <a href=""><i class="material-icons right">close</i></a>
                    {% endif %}
                    <a href="/profil/{{ c.username }}">
                        <img src="/{{ c.profil_picture }}" alt="" class="circle">
                        <span class="title">@{{ c.username }}</span></a>
                    <p>{{ c.comment }}</p>
                    <p class="right">Le 18/05/2909</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn red ">Fermer</a>
    </div>
</div>
{% endfor %}

