
<div class="row">
      <div class="col s4 offset-s1">
        <h4>Profil de : {{ username }}</h4>
        <p> Nom : {{  lastname }}</p>
        <p> Prenom : {{  firstname }}</p>
        <p> date de naissance : {{ date_of_birth }}</p>
        <p> adresse : {{ address }}</p>
        <p> email : {{ email }}</p>
      </div>
      <div class="col s6 offset-s1">
        <img src="{% if profil_picture == null %} image/profil.png {% else %} {{ profil_picture }} {% endif %}">
        <div class="row">
            <a class="btn waves-effect waves-light"  href="editprofil">éditer profil
                <i class="material-icons right">send</i>
            </a>
        </div>
      </div>

      <div class="col s12">
      {% for pic in pictures %}
      <div class="col s3 offset-s1">
          <div class="card large">
              <div class="card-image">
                <img class="picture" src="{{ pic.link }}">
              </div>
              <div class="card-content">
                <p>{{ pic.description }}</p>
              </div>
              <div class="card-action">
                {%  set tags = pic.tag|split(',') %}
                  <p>{% for t in tags %} <a href="search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}</p>
              </div>
          </div>
      </div>
      {% endfor %}
      </div>
</div>
