{% if erreur == true %}
<p class="red-text">Aucun utilisateur trouvé pour : {{ username }}</p>
{% else %}
    <div class="container">
        <div class="container">
            <div class="col s12 m10  l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    {% if co %}
                        {% if bool_follow %}
                            <a href="/unfollow/{{ uniqid }}" class="waves-effect waves-blue btn blue right hide-on-small-and-down">Ne plus suivre</a>

                        {% else %}
                            <a class="waves-effect waves-blue btn blue right btn_follow hide-on-small-and-down" href="/follow/{{uniqid}}">Suivre</a>
                        {% endif %}
                    {% endif %}
                    <div class="row valign-wrapper">
                        <div class="col s4 m2">
                            <img src="/{{ profil_picture }}" alt="" class="circle responsive-img valign">
                        </div>
                        <div class="col s12 m10">
                            <span class="black-text"><h5>@{{ username }}</h5><p>{{ firstname }} {{ lastname }}</p></span>
                        </div>
                    </div>
                    {% if co %}
                        {% if bool_follow %}
                            <a href="/unfollow/{{ uniqid }}" style="width: 100%;" class="waves-effect waves-blue btn blue center show-on-small-and-down hide-on-med-and-up">Ne plus suivre</a>

                        {% else %}
                            <a style="width: 100%;" class="waves-effect waves-blue btn blue center btn_follow show-on-small-and-down hide-on-med-and-up" href="/follow/{{uniqid}}">Suivre</a>
                        {% endif %}
                    {% endif %}
                    <div class="row valign-wrapper">
                        <div class="col s12 m12">
                            <div class="col s12 m4 l4 "><a{% if nb_follow >0 %} data-target="modal1" class="modal-trigger " {% endif %} href=""><b><p class="center ">Abonnements</p></b></a><p class="center">{{ nb_follow}}</p></div>
                            <div class="col s12 m4 l4 "><a{% if nb_follower >0 %} data-target="modal2" class="modal-trigger" {% endif %}href=""><b><p class="center">Abonnés</p></b></a><p class="center">{{ nb_follower}}</p></div>
                            <div class="col s12 m4 l4 "><a href="#table_pics"><b><p class="center">Photos</p></b></a><p class="center">{{ nb_pics}}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="table_pics">
            <div class="col s12">
                {% for p in pictures %}
                    <div class="col s12 m4 l4">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="/{{ p.link }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator "><a  href="/profil/{{p.username }}">{{ p.firstname }} {{ p.lastname }}</a></span><i class=" right  activator material-icons" style="cursor: pointer">add</i>
                                <p style="margin-top: -15px">@{{ p.username }}</p>
                                <br>
                                <p class="truncate activator" style="cursor: pointer !important;">{{ p.description }}</p>
                                {%  set tags = p.tag|split(',') %}
                                <p>{% for t in tags %} <a href="search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}
                                </p>
                                <hr>
                                <br>
                                <a href="" class="like_modal_trigger" id="like_{{ p.id }}">{{ p.nbLike }} j'aime(s)</a>

                                {% if p.aime == true %}

                                    <i  id='{{ p.id }}' class="material-icons right like tooltipped" data-position="left" data-delay="50" data-tooltip="Je n'aime plus" style="cursor: pointer;margin-top: 10px">thumb_down</i>

                                {%  else %}
                                    <i  id='{{ p.id }}' class="material-icons right like tooltipped" data-position="left" data-delay="50" data-tooltip="J'aime" style="cursor: pointer;margin-top: 10px">thumb_up</i>
                                {%  endif %}
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ p.firstname }} {{ p.lastname }}<i class="material-icons right">close</i></span>
                                <p style="margin-top: -10px">@{{ p.username }}</p>
                                <p>{{ p.description }}</p>
                                {%  set tags = p.tag|split(',') %}
                                <p>{% for t in tags %} <a href="search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}</p>
                                <hr>
                                <textarea id="textarea" placeholder="Ecrivez votre commentaires ici..."
                                          class="materialize-textarea"></textarea>
                                <button id="comment_{{ p.id }}" class="btn waves-effect waves-light  postCommentaire"><i
                                            class="material-icons right">send</i>envoyer
                                </button>
                                <a href="" class="comment_modal_trigger" style="display: block;padding-top: 5px;text-align: center;" id="show_{{ p.id }}">Voir tout les commentaires... </a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Abonnements</h4>
            <ul class="collection ">
                {% for f in follow %}
                    <li class="collection-item avatar">
                        <a href="/profil/{{ f.username }}">
                            <img src="/{{ f.profil_picture }}" alt="" class="circle">
                            <span class="title">@{{ f.username }}</span></a>
                        <p>{{ f.firstname }} {{ f.lastname }}</p>
                        <p>{{ f.postal_code }} {{ f.city }}</p>
                        <a href="/profil/{{ f.username }}" class="secondary-content"><i class="material-icons medium hide-on-small-and-down">send</i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red ">Fermer</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Abonnés</h4>
            <ul class="collection ">
                {% for fo in follower %}
                    <li class="collection-item avatar">
                        <a href="/profil/{{ fo.username }}"><img src="/{{ fo.profil_picture }}" alt="" class="circle">
                            <span class="title">@{{ fo.username }}</span></a>
                        <p>{{ fo.firstname }} {{ fo.lastname }}</p>
                        <p>{{ fo.postal_code }} {{ fo.city }}</p>
                        <a href="/profil/{{ fo.username }}" class="secondary-content"><i class="material-icons medium hide-on-small-and-down">send</i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red ">Fermer</a>
        </div>
    </div>


    <div id="some_modal" class="modal modal-fixed-footer">
        <div class="modal-content"></div>
    </div>

    <div id="like_modal" class="modal modal-fixed-footer">
        <div class="modal-content"></div>
    </div>

{% endif %}