
<div class="row">
    <div class="center">
        <h3>Profil de : {{ username }}</h3>
        <p> Nom : {{  lastname }}</p>
        <p> Prenom : {{  firstname }}</p>
        <p> date de naissance : {{ date_of_birth }}</p>
        <p> adresse : {{ address }}</p>
        <p> email : {{ email }}</p>
        <img src="{% if profil_picture == null %} image/profil.png {% else %} {{ profil_picture }} {% endif %}">
        <div class="row">
            <a class="btn waves-effect waves-light"  href="editprofil">éditer profil
                <i class="material-icons right">send</i>
            </a>
        </div>

    </div>
</div>










{%  include 'footer.twig' %}