{% if users is defined %}
    {% if users|length == 0 %}
    <h4 class="center">Je n'ai rien trouvé pour @{{ recherche }} ...</h4>
{% else %}
    <br>
    <h4 class="center">Resultat pour @{{ recherche }} : </h4>
    <br>
    <ul class="collection" style="width: 60%;  margin: auto; ">
    {% for u in users %}
    <li class="collection-item avatar">
      <img src="{{ u.profil_picture }}" alt="" class="circle">
        <a href="/profil/{{ u.username }}"><span class="title">@{{ u.username }}</span></a>
      <p>{{ u.firstname }} {{ u.lastname }}</p>
      <p>{{ u.postal_code }} {{ u.city }}</p>
      <a href="/profil/{{ u.username }}" class="secondary-content"><i class="material-icons medium hide-on-small-and-down">send</i></a>
    </li>
 {% endfor %}
    </ul>
    {% endif %}
{% endif %}
{% if pics is defined %}
    {% if pics|length == 0 %}
        <h4 class="center">Je n'ai rien trouvé #{{ recherche }} ...</h4>
    {% else %}
        <h4 class="center">Resultat pour #{{ recherche }} : </h4>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    {% for p in pics %}
                        <div class="col s12 m4 l4">
                            <div class="card ">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/{{ p.link }}">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator "><a  href="/profil/{{p.username }}">{{ p.firstname }} {{ p.lastname }}</a></span><i class=" right  activator material-icons" style="cursor: pointer">add</i>
                                    <p style="margin-top: -15px">@{{ p.username }}</p>
                                    <br>
                                    <p class="truncate activator" style="cursor: pointer !important;">{{ p.description }}</p>
                                    {%  set tags = p.tag|split(',') %}
                                    <p class="truncate">{% for t in tags %} <a href="search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}
                                    </p>
                                    <hr>
                                    <br>
                                    <a href="" class="like_modal_trigger" id="like_{{ p.id }}">{{ p.nbLike }} j'aime(s)</a>
                                    {% if co %}

                                    {% if p.aime == true %}

                                        <i  id='{{ p.id }}' class="material-icons right like tooltipped" data-position="left" data-delay="50" data-tooltip="Je n'aime plus" style="cursor: pointer;margin-top: 10px">thumb_down</i>

                                    {%  else %}
                                        <i  id='{{ p.id }}' class="material-icons right like tooltipped" data-position="left" data-delay="50" data-tooltip="J'aime" style="cursor: pointer;margin-top: 10px">thumb_up</i>
                                    {%  endif %}
                                    {%  endif %}
                                    <p style="margin-top: 10px" class="left-align">{{ p.interval }}</p>


                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ p.firstname }} {{ p.lastname }}<i class="material-icons right">close</i></span>
                                    <p style="margin-top: -10px">@{{ p.username }}</p>
                                    <p>{{ p.description }}</p>
                                    {%  set tags = p.tag|split(',') %}
                                    <p>{% for t in tags %} <a href="search?recherche=%23{{ t }}">#{{ t }}</a>{% endfor %}</p>
                                    <hr>
                                    {% if co %}
                                    <textarea id="textarea" placeholder="Ecrivez votre commentaires ici..."
                                              class="materialize-textarea"></textarea>
                                    <button id="comment_{{ p.id }}" class="btn waves-effect waves-light  postCommentaire"><i
                                                class="material-icons right">send</i>envoyer
                                    </button>
                                    {%  endif %}

                                    <a href="" class="comment_modal_trigger" style="display: block;padding-top: 5px;text-align: center;" id="show_{{ p.id }}">Voir tout les commentaires... </a>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="some_modal" class="modal modal-fixed-footer">
            <div class="modal-content"></div>
        </div>

        <div id="like_modal" class="modal modal-fixed-footer">
            <div class="modal-content"></div>
        </div>

    {% endif %}


{% endif %}
